body {
  font-family: 'Poppins', sans-serif;
  color: #ff00c8;
  margin: 0;
}

.logo_giratorio {
  width: 400px;
  height: 400px;
  margin: 30px auto 10px auto;
  display: block;
  animation: spin 5s linear infinite;
  align-items: center;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.intro {
  padding: 60px 0;
}

.scroll-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  max-width: 480px;         /* más angosto */
  padding: 24px 28px;       /* espacio interno */
  margin: 100px 0;          /* espacio vertical más grande */
  font-size: 1.1rem;
  border-radius: 16px;
  background-color: #fdf0ff;  /* color suave, puedes cambiar */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Cuando ya está visible */
.scroll-fade.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Alineaciones laterales */
.scroll-fade.left {
  margin-left: 12%;
  text-align: left;
}

.scroll-fade.right {
  margin-right: 12%;
  margin-left: auto;
  text-align: right;
}